@font-face {
  font-family: 'Tilt Warp';
  src: url("../assets/fonts/TiltWarp-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f5f5eb;
  width: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  min-width: 320px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Tilt Warp', sans-serif;
  font-size: 1em;
}

.wrapper-bayan {
  display: flex;
  padding: 3.75% 9.4%;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper-accordion:hover,
.wrapper-bayan:hover {
  transform: translate(0);
}

.bayan__header-bayan {
  font-family: 'Tilt Warp', sans-serif;
  padding-left: 1.5%;
  font-size: 4em;
  letter-spacing: .4rem;
}

.wrapper-accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 60vw;
  padding-top: 1.875%;
  color: #0159d9;
}

.wrapper-accordion:hover {
  color: rgb(0, 0, 0);
}

.accordion__line {
  width: 87.5em;
  height: 0.125em;
  width: 100%;
  background: black;
  margin-left: 1.25%;
}

.wrapper__accordion {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.wrapper__accordion:hover {
  cursor: pointer;
}

.accordion__header,
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion__header {
  flex-wrap: nowrap;
}

.header {
  padding: 1.56% 1.25%;
  font-size: 2.5em;
  letter-spacing: .1rem;
}

.accordion__button__xmark,
.accordion__button__angle {
  width: 1.5vh;
  fill: rgb(0, 0, 0);
  display: none;
}

.wrapper__accordion__content {
  display: flex;
  justify-content: center;
}

.meme__copy-and-paste,
.meme__keep-calm,
.meme__work-life-balance,
.meme__where-is-js,
.meme__relax {
  width: 0;
}

.accordion__item input {
  display: none;
}

.meme__checked {
  overflow: hidden;
  height: 0;
  transition: 0.6s;
}

.wrapper-accordion input:checked ~ .wrapper__accordion>.accordion__header>.header {
  color: black;
}

.accordion__item:hover>.wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked,
.wrapper-accordion input:checked ~ .wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked {
  height: 40.1vh;
  width: 40.1vh;
}

.wrapper__accordion:hover>.accordion__header>.wrapper__accordion__button>.accordion__button__angle,
.wrapper-accordion input:checked ~ .wrapper__accordion>.accordion__header>.wrapper__accordion__button>.accordion__button__angle {
  display: none;
  width: 0;
  height: 0;
}

.wrapper-accordion:hover>.accordion__item>.wrapper__accordion>.accordion__header>.wrapper__accordion__button>.accordion__button__angle,
.wrapper__accordion:hover>.accordion__header>.wrapper__accordion__button>.accordion__button__xmark,
.wrapper-accordion:hover input:checked ~ .wrapper__accordion>.accordion__header>.wrapper__accordion__button>.accordion__button__xmark {
  display: block;
}

.accordion__item:hover>.wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked {
  transform: scale(1);
  transform-origin: center;
  opacity: 1;
}

/* /////////////////////////////////////// */
@media (max-width: 820px) {
  .wrapper-bayan {
    padding: 2.75% 7.4%;
  }

  .bayan__header-bayan {
    font-size: 3em;
    letter-spacing: .3rem;
  }

  .header {
    font-size: 2em;
    letter-spacing: .1rem;
  }
}

@media (max-width: 320px) {
  .wrapper-bayan {
    padding: 2.75% 5.4%;
  }

  .bayan__header-bayan {
    font-size: 1.5em;
    letter-spacing: .2rem;
  }

  .header {
    font-size: 1em;
    letter-spacing: .1rem;
  }

  .wrapper-accordion input:checked ~ .wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked,
  .accordion__item:hover>.wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked {
    height: 30vh;
    width: 30vh;
  }
}