@media(hover: hover) {
  .wrapper-accordion:hover,
  .wrapper-bayan:hover {
    transform: translate(0);
  }
  
  .wrapper-accordion:hover {
    color: rgb(0, 0, 0);
  }

  .wrapper__accordion:hover {
    cursor: pointer;
  }

  .accordion__item:hover>.wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked {
    height: 40.1vh;
    width: 40.1vh;
  }

  .wrapper__accordion:hover>.accordion__header>.wrapper__accordion__button>.accordion__button__angle {
    display: none;
    width: 0;
    height: 0;
  }

  .wrapper-accordion:hover>.accordion__item>.wrapper__accordion>.accordion__header>.wrapper__accordion__button>.accordion__button__angle,
  .wrapper__accordion:hover>.accordion__header>.wrapper__accordion__button>.accordion__button__xmark,
  .wrapper-accordion:hover input:checked ~ .wrapper__accordion>.accordion__header>.wrapper__accordion__button>.accordion__button__xmark {
    display: block;
  }

  .accordion__item:hover>.wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked {
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
}
/* /////////////////////////////////////// */
@media (max-width: 820px) {
  .wrapper-bayan {
    padding: 2.75% 7.4%;
  }

  .wrapper-accordion {
    width: 70vw;
  }

  .bayan__header-bayan {
    font-size: 3em;
    letter-spacing: .3rem;
  }

  .header {
    font-size: 2em;
    letter-spacing: .1rem;
  }
}
/* /////////////////////////////////////// */
@media (max-width: 320px) {
  .wrapper-bayan {
    padding: 2.75% 5.4%;
  }

  .wrapper-accordion {
    width: 80vw;
  }

  .bayan__header-bayan {
    font-size: 1.5em;
    letter-spacing: .2rem;
  }

  .header {
    font-size: 1em;
    letter-spacing: .1rem;
  }

  .wrapper-accordion input:checked ~ .wrapper__accordion>.wrapper__accordion__content>.accordion__item__meme>.meme__checked {
    height: 30vh;
    width: 30vh;
  }
}